/* Empty. Add your own CSS if you like */
 
ion-content {
     background: radial-gradient(at top, #0E326E, #030F1F);
 }

.cz-row {
    display: flex;
}

.cz-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 10px 0 10px;
    background: linear-gradient(to top, rgba(3, 15, 31, 1) 50%, rgba(3, 15, 31, 0));
    transition: transform 0.25s ease-in-out;
    transform: translateY(77px);
}
.cz-footer.ready {
    transform: translateY(0) !important;
}

.ellipsis-multiline {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Ionic customization */
.button.button-positive,
.pick-a-movie .button.button-positive.button-small:before
 {
    background: linear-gradient(155deg, #fd1d1d, #E30073, #833ab4);
    border: none;
}

ion-view {
    background: none !important;
}

/*
===================================================================================
    Create an Event
===================================================================================
*/
form .item-input input,
form .item-input textarea {
    border: 1px solid #E30073;
}

/*
===================================================================================
    Pick a Genre
===================================================================================
*/
.cz-movie-genre {
    position: relative;
    width: 50%;
    margin: 5px;
    overflow: hidden;
}
.cz-movie-genre:active {
    transform: scale(0.95);
}
.cz-movie-genre:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.cz-movie-genre > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.cz-movie-genre .content > * {
    color: white;
    text-align: center;
}

.cz-movie-genre .overlay,
.cz-movie-genre .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cz-movie-genre .background {
    filter: blur(2px);
}
.cz-row:nth-child(1) .cz-movie-genre:nth-child(1) .overlay {
    background: linear-gradient(to bottom right,#fcb045 20%,#fd1d1d 80%);
    opacity: 0.75;
}
.cz-row:nth-child(1) .cz-movie-genre:nth-child(2) .overlay,
.cz-row:nth-child(2) .cz-movie-genre:nth-child(1) .overlay {
    background: linear-gradient(to bottom right,#fd1d1d 20%,#E30073 70%);
    opacity: 0.75;
}
.cz-row:nth-child(2) .cz-movie-genre:nth-child(2) .overlay,
.cz-row:nth-child(3) .cz-movie-genre:nth-child(1) .overlay {
    background: linear-gradient(to bottom right,#E30073 20%,#833ab4 70%);
    opacity: 0.75;
}

.cz-row:nth-child(3) .cz-movie-genre:nth-child(2) .overlay,
.cz-row:nth-child(4) .cz-movie-genre:nth-child(1) .overlay {
    background: linear-gradient(to bottom right,#833ab4 20%,#1F2185 70%);
    opacity: 0.75;
}

.cz-row:nth-child(4) .cz-movie-genre:nth-child(2) .overlay {
    background: linear-gradient(to bottom right,#1F2185 20%,#0083CC 70%);
    opacity: 0.75;
}

.cz-movie-genre .icon.ion-checkmark {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 8px;
    font-size: 18px;
}
.cz-movie-genre.selected .overlay {
    background-image: initial !important;
    background-color: #1B998B !important;
}

/*
===================================================================================
    Pick a Movie
===================================================================================
*/
.card {
    position: relative;
    top: calc(50% - 200px - 50px);
    margin: 0 32px !important;
    border: 4px solid white;
    border-radius: 6px;
    transition: transform .125s ease-out;
}
.card.dragging {
    transition: initial;
}
.card .image {
    margin: 0px;
    line-height: 250px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card .overlay .icon:before {
    font-size: 10em;
}

.pick-a-movie .button.button-positive {
    float: left;
    width: 76px;
    height: 76px;
    border-radius: 100%;
    padding: 0;
}
.pick-a-movie .button.button-positive:before {
    font-size: 40px !important;
}

.pick-a-movie .button.button-positive.button-small {
    background: white !important;
    width: 64px;
    height: 64px;
    margin-top: 22px;
}
.pick-a-movie .button.button-positive.button-small:before {
    font-size: 36px !important;
    color:transparent;
    -webkit-background-clip: text;
    padding: 8px;
}