<ion-view title="Invitation Received" hide-nav-bar="true">
    <ion-content padding="true" scroll="false" class="manual-ios-statusbar-padding">
        <h4 style="color: white; text-align: center;">Invitation Received</h4>

        <div>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-list>
                <div class="item item-body" id="invitationReceived-list-item-container5">
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;font-size:16px;">Mary's Movie Night</p>
                    </div>
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#8A8A8A;">June 30 at 21:00</p>
                    </div>
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">Description</p>
                    </div>
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">Description</p>
                    </div>
                    <div class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">Description</p>
                    </div>
                </div>
            </ion-list>
        </div>
    </ion-content>
    <div class="cz-footer">
        <input class="button button-positive button-block" type="submit" form="form" ng-click="vm.submit()" value="Accept" />
    </div>
</ion-view>