<ion-view title="results/countdown (admin)" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 style="text-align: center;">Thank you for voting!</h3>
    <div class="spacer" style="width: 300px; height: 116px;"></div>
    <div>
      <h4 style="text-align: center; margin-bottom: 0;">Time remaining</h4>

      <h1 style="text-align: center; margin-top: 0;">2 Days</h1>
    </div>
    <div>
      <h4 style="text-align: center; margin-bottom: 0;">Votes received</h4>

      <h1 style="text-align: center; margin-top: 0;">4</h1>
    </div>
    <div class="spacer" style="width: 300px; height: 100px;"></div>
    <button id="resultsCountdownAdmin-button27" class="button button-positive button-block">Invite Friends</button>
    <button id="resultsCountdownAdmin-button23" class="button button-assertive button-block">Close voting</button>
  </ion-content>
</ion-view>