<ion-view title="Thank you for voting!" hide-nav-bar="true">
    <ion-content padding="true" scroll="false" class="manual-ios-statusbar-padding">
        <h4 style="color: white; text-align: center;">Thank you for voting!</h4>

        <div>
          <div class="spacer" style="width: 300px; height: 200px;"></div>
          <div>
              <h4 style="color: white; text-align: center; margin-bottom: 0;">Results will be available in</h4>

              <h1 style="color: white; text-align: center; margin-top: 0;">2 Days</h1>
          </div>
        </div>
    </ion-content>
</ion-view>