<ion-view title="voting/genres" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h4 style="text-align: center;">Pick 5 Movie Genres</h4>

        <div>
            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('http://cdn.pcwallart.com/images/avengers-live-action-movie-wallpaper-1.jpg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Action</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/4d/gk/p04dgkm4.jpg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Comedy</h3>
                    </div>
                </div>
            </div>

            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('https://images-na.ssl-images-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY1200_CR88,0,630,1200_AL_.jpg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Drama</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ2ODFlMDAtNzdhOC00ZDYzLWE3YTMtNDU4ZGFmZmJmYTczXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_CR0,0,640,1000_AL_.jpg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Family</h3>
                    </div>
                </div>
            </div>

            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('https://s-media-cache-ak0.pinimg.com/736x/97/76/78/9776786c0dd6fba7c9f1e9bc1c6d051e.jpg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Horror</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/f0/31/27/f03127a62e14c37c24e4fa26b45b7b14.jpg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Romance</h3>
                    </div>
                </div>
            </div>

            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('http://cdn.trendhunterstatic.com/thumbs/star-wars-movie-poster.jpeg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Sci-Fi</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('http://www.impawards.com/2010/posters/inception_ver3_xlg.jpg')"></div>
                    <div class="overlay"></div> 
                    <div class="content">
                        <h3>Thriller</h3>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>