<ion-view title="voting/genres" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h4 style="text-align: center;">Pick 5 Movie Genres</h4>

        <div>
            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-action.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Action</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-comedy.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Comedy</h3>
                    </div>
                </div>
            </div>

            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-drama.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Drama</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-family.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Family</h3>
                    </div>
                </div>
            </div>

            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-horror.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Horror</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-romance.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Romance</h3>
                    </div>
                </div>
            </div>

            <div class="cz-row" style="margin: 0 -5px;">
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-sci-fi.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Sci-Fi</h3>
                    </div>
                </div>
                <div class="cz-movie-genre">
                    <div class="background" style="background-image: url('img/genre-thriller.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <h3>Thriller</h3>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>